.bannerS{
    width: 100%;
	height: 400px;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)), 
        url(../img/services.jpg);
	background-size: cover;
	background-position: center;
}

.mainS{
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.mainS .services{
    position: relative;
    margin: 5px;
    height: 250px;
    background-color: black;
}

.mainS .services img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.mainS .services div{
    display: inline-block;
    margin: 20px;
    width: 40%;
    position: absolute;
    left: 50px;
}

.mainS .services div .teksti{
    color: rgb(167, 167, 167);
}

.mainS .services div h3{
    font-size: 30px;
}


.mainS .services img:hover{
    opacity: 0.5;
}

.mainS .services:hover div .teksti{
    color: white;
}

/* ---------------- */

@media only screen and (max-width:1000px){
    .bannerS{
        height: 300px;
    }

    .mainS{
        padding: 0 50px;
    }
}

@media only screen and (max-width:900px){
    .mainS{
        padding: 0 30px;
    }

    .mainS .services div h3{
        font-size: 25px;
    }

    .mainS .services div p{
        font-size: 18px;
    }
}

@media only screen and (max-width:700px){
    .bannerS{
        height: 250px;
    }
    
    .mainS{
        padding: 0 10px;
    }

    .mainS .services{
        height: 220px;
    }
    
    .mainS .services div{
        margin: 15px;
        left: 30px;
    }
    
    .mainS .services div h3{
        font-size: 20px;
    }

    .mainS .services div p{
        font-size: 15px;
    }
}

@media only screen and (max-width:500px){
    .bannerS{
        height: 200px;
    }
    
    .mainS{
        padding: 0 10px;
    }

    .mainS .services{
        height: 150px;
    }
    
    .mainS .services div{
        width: 100%;
        margin: 5px;
        left: 0;
    }
    
    .mainS .services div h3{
        font-size: 20px;
    }

    .mainS .services div p{
        font-size: 15px;
    }
}