* {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    max-width: 2000px;
}

body{
    margin: 0;
    padding: 0;
}

/* headeri me nav */
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: whitesmoke;
    opacity: 0.8;
    z-index: 100;
}

.header:hover{
    opacity: 1;
}

.header img {
    width: 180px;
    height: inherit;
    margin-left: 50px;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-right: 50px;
}

.header ul li a{
    color: black;
    margin: 2px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.header ul li a:hover {
    background-color: rgb(189, 64, 64);
    color: white;
    transition: 0.5s;
}
/* ----------- */

/* banneri me slider */

.banneri{
    width: 100%;
    height: 100vh;
}

.bannerS{
    width: 100%;
    height: inherit;
}
.bannerS img{
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.bannerT{
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 100px;
    margin: 0;

}

.bannerT p{
    margin: 0;
}

.bannerT .bannerBtn{
    height: 50px;
    background-color: red;
    border: 0;
    border-radius: 10px;
    margin: 0 0 50px 0;
    color: #fff;
    font-size: 18px;
    padding: 2px 15px;
    cursor: pointer;
}

.bannerT .bannerBtn:hover{
    background-color: rgb(201, 0, 0);
    
}

.auto {
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.salloni{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ------------ */
/* MarkaKryesore */
.markatKryesore{
    text-align: center;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}

.markatKryesore p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0;
    font-size: 50px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.markatK{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 500px;
    width: inherit;
}

.markatK .audi{
    background: url(../img/audiLogo2.jpg);
}

.markatK .lambo {
    background: url(../img/lamboLogo2.jpg);
}

.markatK .mercedes {
    background: url(../img/mercedesLogo2.jpg);
}
.markatK .bmw {
    background: url(../img/bmwLogo2.jpg);
}
.markatK .vw {
    background: url(../img/vwLogo2.jpg);
}

.markatK .marka{
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: 0.2s;
}

.markatK .marka:hover{
    width: 120%;
    transition: 0.4s;
}

.marka .markaContent{
    position: absolute;
    height: 10%;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	color: #fff;
	opacity: 0;
}

.marka .markaContent .markaTxt{
    color: white;
    display: inline-block;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.marka:hover .markaContent{
    bottom: 0;
	transition: 0.3s;
	transition-delay: 0.1s;
	opacity: 1;
}

/* ------------ */
/* Markat 2 */

.markaTjera{
    background: lightgray;
    margin: 15px auto;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.markaTjera>p{
    height: auto;
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
}

.markaTjera .wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 5px;
    height: 80%;
}

.markaTjera .wrap .markat2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
    margin: 0 2px;
    width: 180px;
}

.markaTjera div .markat2 img{
    width: 70px;
    height: 70px;
    margin: 10px auto;
}
.markaTjera div .markat2 h3{
    margin: 0 auto;
}

.markaTjera div .markat2 p {
    font-size: 13px;
}

.markaTjera div .markat2:hover{
    background-color: gray;
    transition: 0.2s;
}
/* ------------ */
/* footeri */
.footeri{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: black;
}

.footerFonts{
    color: white;
    font-size: 13px;
    margin: 5px;
}

.footeri h3{
    font-size: 17px;
    margin: 10px 0px;
}

.text-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-box ul li pre{
    margin: 0;
    padding: 0;
}

.diel pre{
    color: red;
}

.bottom{
    background: black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.copyright{
    color: gray;
}

#simboletFooter{
    color: white;
    margin-right: 5px;
}
/* ------------ */