.bannerC{
    width: 100%;
	height: 400px;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)), 
        url(../img/contact.jpg);
	background-size: cover;
	background-position: center;
}
/* Div Kontenti kryesor */
.mainC{
    background: lightgray;
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px auto;
    padding: 20px 90px;
    border-radius: 10px;
}

/* ------------------- */
/* Ana e majte */
.mainC .left{
    width: 50%;
    height: auto;
}

.contactUs{
    text-align: center;
    background: lightgray;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
}

.inputKlasa{
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: auto;
    padding: 0 0 20px 0;
}

.inputKlasa label{
    font-size: 23px;
    font-weight: bold;
}

.inputet{
    width: 400px;
    height: 40px;
    font-size: 17px;
    padding-left: 8px;
    border: 2px solid white;
    box-sizing: border-box;
    transition: 0.2s;
    border-radius: 5px;
}

.inputet:focus{
    border: 2px solid blue;
}

.inputKlasa i {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 22px;
    visibility: hidden;
}

.inputKlasa small{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 500;
    font-size: 15px;
    visibility: hidden;
}

.inputKlasa textarea{
    height: 120px;
    width: 400px;
    padding: 5px 7px;
    margin-top: 5px;
    font-size: 17px;
    border: 2px solid white;
    box-sizing: border-box;
    transition: 0.2s;
    border-radius: 5px;
}

.inputKlasa textarea:focus{
    border: 2px solid blue;
}

.btnDiv{
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactBtn{
    width: 150px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background: gray;
    border: 0;
    transition: 0.3s;
}

.contactBtn:hover{
    background: red;
    color: white;
}

.contactBtn:active{
    background: green;
    color: white;
    transition: 0.3s;
}

.inputKlasa.success input{
    border: 2px solid green;
}

.inputKlasa.success textarea{
    border: 2px solid green;
}

.inputKlasa.success i.fa-check-circle{
    color: green;
    visibility: visible;
}

.inputKlasa.error input{
    border: 2px solid red;
}

.inputKlasa.error textarea{
    border: 2px solid red;
}

.inputKlasa.error small{
    visibility: visible;
    color: red;
}

.inputKlasa.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}

/* ----------------- */
.mainC .right{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.simboletC{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 0 0 0;
}

.simboletC p{
    width: 50px;
    height: 50px;
}

.simboletC .fas{
    font-size: 30px;
}

.rightNames{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.rightNames h1{
    margin: 20px 0 5px 0;
}

.rightNames h2{
    margin: 23px;
}

.rightNames hr {
    width: 280px;
}

.rightSimbolet{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

/* Responsive */

@media only screen and (max-width:1300px){
    .mainC{
        width: 900px;
    }

}

@media only screen and (max-width:1100px){
    .mainC{
        width: 800px;
    }
}

@media only screen and (max-width:1000px){
    .mainC{
        width: auto;
        margin: 20px;
    }

    .mainC .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainC .right{
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    .mainC{
        padding: 0;
    }

    .contactUs{
        font-size: 40px;
        padding-bottom: 20px;
        margin-top: 5px;
    }
    
    .inputKlasa label{
        font-size: 18px;
    }
    
    .inputKlasa i {
        top: 30px;
    }
    
    .btnDiv{
        align-items: flex-start;
    }

    .mainC .right{
        width: 100%;
    }
    
    .simboletC p{
        width: 40px;
        height: 40px;
    }
    
    .rightNames h1{
        margin: 17px 0 5px 0;
    }
    
    .rightNames h2{
        margin: 20px;
    }
}

@media only screen and (max-width:500px){

    .contactUs{
        font-size: 30px;
    }

    .left form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .inputKlasa{
        width: 350px;
        padding: 0 0 20px 0;
    }
    
    .inputet{
        width: 350px;
    }

    .inputKlasa textarea{
        width: 350px;
    }

    .simboletC p{
        width: 30px;
        height: 30px;
    }
    
    .simboletC .fas{
        font-size: 25px;
    }
    
    
    .rightNames h1{
        font-size: 21px;
        margin: 22px 0 5px 0;
    }
    
    .rightNames h2{
        font-size: 20px;
        margin: 20px;
    }
    
    .rightNames hr {
        width: 250px;
    }
    
    .rightSimbolet{
        font-size: 25px;
    }
}