USE [master]
GO
/****** Object:  Database [AutoSalloni]    Script Date: 1/22/2021 3:47:57 PM ******/
CREATE DATABASE [AutoSalloni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoSalloni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AutoSalloni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoSalloni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AutoSalloni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoSalloni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoSalloni]
GO
/****** Object:  User [milazimi]    Script Date: 1/22/2021 3:47:57 PM ******/
CREATE USER [milazimi] FOR LOGIN [ermal] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[contactTable]    Script Date: 1/22/2021 3:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactTable](
	[emri] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[komenti] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[useri]    Script Date: 1/22/2021 3:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[isAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[veturat]    Script Date: 1/22/2021 3:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veturat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marka] [varchar](255) NOT NULL,
	[modeli] [varchar](255) NOT NULL,
	[viti] [varchar](255) NOT NULL,
	[motorri] [varchar](255) NOT NULL,
	[kilometrat] [varchar](255) NOT NULL,
	[img] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
